*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
background:black;
color:white;
font-family:Arial;
}

/* GRID BACKGROUND */

body{
background-image:
linear-gradient(rgba(255,0,60,0.08) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,0,60,0.08) 1px, transparent 1px);
background-size:40px 40px;
}


/* APP LAYOUT */

.app{
display:flex;
min-height:100vh;
}


/* SIDEBAR */

.sidebar{
width:200px;
background:#050505;
border-right:1px solid red;
padding:20px;
}

.sidebar h2{
color:red;
margin-bottom:10px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin:10px 0;
}

.sidebar a:hover{
color:red;
}


/* MAIN */

.main{
flex:1;
padding:20px;
display:flex;
flex-direction:column;
align-items:center;
}


/* CENTER BLOCK */

.center{
max-width:500px;
width:100%;
margin-top:200px;
text-align:center;
}


/* BUTTON */

.button{
display:block;
width:200px;
margin:15px auto;
border:1px solid red;
padding:10px;
color:white;
text-decoration:none;
}

.button:hover{
background:red;
}


/* CONTENT */

.content{
max-width:700px;
margin:0 auto;
width:100%;
}


/* SEARCH */

.searchBox{

width:260px;
padding:8px 10px;
margin:10px auto 15px auto;
display:block;

background:#050505;
color:white;

border:1px solid red;

outline:none;

box-shadow:0 0 6px #ff003c55;

}


/* TRACK LIST */

.trackList{

display:grid;
grid-template-columns:repeat(auto-fill, 180px);
gap:20px;
justify-content:center;
margin-top:20px;

max-width:600px;
margin-left:auto;
margin-right:auto;

}

.track{

width:180px;
border:1px solid red;
padding:8px;
text-align:center;
cursor:pointer;
background:#050505;
transition:0.2s;

}

.track:hover{

box-shadow:0 0 10px red;
transform:scale(1.05);

}

.trackTitle{

margin-top:6px;
font-size:14px;

}


/* COVER */

.coverBox{

position:relative;
width:100%;
height:150px;
overflow:hidden;

}

.coverBox img{

width:100%;
height:100%;
object-fit:cover;
transition:0.3s;

}

.coverBox::after{

content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0);
transition:0.3s;

}

.track:hover .coverBox::after{

background:rgba(0,0,0,0.5);

}

.playIcon{

position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%) scale(0);
font-size:30px;
color:red;
transition:0.3s;

}

.track:hover .playIcon{

transform:translate(-50%,-50%) scale(1.2);

}


/* ACTIVE TRACK */

.activeTrack{

background:#200000;
box-shadow:0 0 15px red;

}


/* PLAYER */

#floatingPlayer{

position:fixed;
bottom:0;
left:0;

width:100%;

background:black;
border-top:2px solid red;

display:flex;
justify-content:center;
align-items:center;

padding:8px;

z-index:9999;

}

.playerInner{

display:flex;
align-items:center;
gap:12px;

background:#050505;
padding:6px 12px;

border:1px solid red;

box-shadow:0 0 10px #ff003c;

}

#playerCover{

width:45px;
height:45px;
object-fit:cover;

border-radius:6px;

box-shadow:0 0 6px red;

}

#trackName{

color:red;
font-size:13px;
min-width:120px;

}

#audioPlayer{

width:300px;

}


/* PLAYER BUTTON */

.playerInner button{

width:28px;
height:28px;

background:black;
color:red;

border:1px solid red;

cursor:pointer;

display:flex;
align-items:center;
justify-content:center;

transition:0.2s;

}

.playerInner button:hover{

background:red;
color:black;

}


/* FIXED ACTIVE BUTTON */

.activeBtn{

background:red !important;
color:white !important;
border:1px solid red !important;
box-shadow:0 0 10px red;

}
#eq{

display:flex;
gap:3px;
height:18px;
align-items:flex-end;

}

#eq{

display:flex;
gap:3px;
height:18px;
align-items:flex-end;

opacity:0.3;

}

#eq div{

width:3px;
height:5px;
background:red;

}

/* animation only when playing */

#eq.playing div{

animation:eq 0.6s infinite ease-in-out;

}

#eq div:nth-child(2){
animation-delay:0.1s;
}

#eq div:nth-child(3){
animation-delay:0.2s;
}

#eq div:nth-child(4){
animation-delay:0.3s;
}

@keyframes eq{

0%{height:5px;}
50%{height:18px;}
100%{height:5px;}

}
